
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h1>Müşteri Listesi</h1>
<div style="background-color:cornflowerblue">Merhaba Mvc</div>
<br />

<label>Adınız</label>
<input type="text" class="form-control" />
<br />

<label>Soyadınız</label>
<input type="text" class="form-control" />
<br />

<button class="btn btn-primary">Kaydet</button>
<button class="btn btn-danger">Vazgeç</button>

